*.pyc
.idea/*
.vscode
*/migrations/*
!*/migrations/__init__.py
venv/*
media/android_mapping/*
media/localization_file/*
media/imgs/app_review_project/*
!media/imgs/app_review_project/NeuLion.png
media/imgs/user_logo/*
!media/imgs/user_logo/account_default.png
media/imgs/testcase/*
!media/imgs/testcase/account_default.png

var/