<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ project.name }} Deeplink Page</title>
    <link rel="stylesheet" href="/static/bs/dist/css/bootstrap.css">
    <script src="/static/js/jquery-3.5.1.js"></script>
    <style>
        .btn-success {
            width: 70px;
        }
        .container-fluid {
            margin-top: 20px;
        }
        .page-header .glyphicon{
            border: none;
            width: 90px;
            font-size: 23px;
            background-color: white;
            outline: none;
        }
        .page-header {
            display: flex;
            align-items: center;
            flex-direction: row;
        }
        h1 {
            margin: 0 auto;
        }
        .error_msg {
            margin-top: 10px;
        }
        tr {
            height: 50px;
        }
        .list-group-item {
            height: 50px;
            border-left: white;
            border-right: white;

        }
        .list-group-item a {
            line-height: 30px;
            margin-left: 30px;
        }
        .deeplink-modify {
            display: inline-block;
        }
        .deeplink-modify button {
            background-color: transparent;
            border: none;
            margin-right: 5px;
            height: 30px;
            width: 30px;
            font-size: 16px;
            outline: none;
        }
        .no-content {
            text-align: center;
            margin-top: 100px;
        }

    </style>
</head>
<body>
    <div class="page-header">
        <h1>{{ project }}</h1>
        <button class="glyphicon glyphicon-th-list"></button>
        <button class="glyphicon glyphicon-trash remove_project"></button>
    </div>

    <div class="row add_workspace">
        {% csrf_token %}
        <div class="col-md-5 col-lg-offset-3">
             <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">{{ project.scheme }}://</span>
                <input id="deeplink_body" type="text" class="form-control" placeholder="deeplink content" aria-describedby="basic-addon1">
            </div>
        </div>
        <button class="btn btn-success">Add</button>
        <div class="col-md-5 col-lg-offset-3 error_msg">
            <span class="error"></span>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div id='main' class="col-md-10 col-lg-offset-1">
                {% if full_deeplink %}
                    <ul class="list-group">
                    {% for deeplink in full_deeplink %}
                        {% if forloop.counter|divisibleby:2 %}
                            <li class="list-group-item" id={{ deeplink.nid }} has-color="true" style="background-color: #eeeeee">
                                <a href={{ deeplink.deeplink }}>{{ deeplink.deeplink }}</a>
                                <div class="deeplink-modify pull-right">
                                    <button class="glyphicon glyphicon-edit"></button>
                                    <button class="glyphicon glyphicon-minus-sign"></button>
                                </div>
                            </li>
                        {% else %}
                            <li class="list-group-item" id={{ deeplink.nid }} has-color="false" style="background-color: white">
                                <a href={{ deeplink.deeplink }}>{{ deeplink.deeplink }}</a>
                                <div class="deeplink-modify pull-right">
                                    <button class="glyphicon glyphicon-edit"></button>
                                    <button class="glyphicon glyphicon-minus-sign"></button>
                                </div>
                            </li>
                        {% endif %}
                {% endfor %}
            </ul>
                {% else %}
                    <h3 class="no-content">No content to display, Please <i><strong><a href="#">add</a></strong></i> in the input box above.</h3>
                {% endif %}
            </div>
        </div>
    </div>

    <script>

         function removeItem (){
             let listItem = $(this).parent().parent()
             $.ajax({
                 url: '{% url 'deeplink:remove_deeplink' %}',
                 type: 'post',
                 data: {
                     csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
                     nid: listItem.attr('id')
                 },
                 success: function (data){
                     if (data.code == 'fail') {
                         alert(data.msg)
                     } else {
                         listItem.remove()
                         let listGroup = $('.list-group-item')
                         if (listGroup.length == 0) {
                             const noContent = `
                             <h3 class="no-content">No content to display, Please <i><strong><a href="#">add</a></strong></i> in the input box above.</h3>
                             `
                             $('#main').append(noContent)
                             $('.no-content a').on('click', addFocus)
                         }
                     }

                 }

             })
         }

         function addFocus(){
             $('#deeplink_body').focus()
         }

         function hoverItem (){
            let litItem = $('.list-group-item');
            let orgColor = litItem.css('background-color');
            litItem.hover(function (){
                $(this).css('background-color', '#FBFCFC')
            }, function (){
                let color = $(this).attr('has-color')
                if (color == 'true'){
                    $(this).css('background-color', '#eeeeee')
                } else{
                    $(this).css('background-color', 'white')
                }
            })

        }

         $('.btn-success').click(function (){
            let deeplinkBody = $('#deeplink_body')
            $.ajax({
                url: '',
                type: 'post',
                data: {
                    body: deeplinkBody.val(),
                    csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
                },
                success: function (data){
                    if (data.code == 'fail') {
                        $('.error').text(data.msg.error).css({'color': 'red'})
                        deeplinkBody.focus()

                    } else {
                        let colorBool = true
                        let listGroup = $('.list-group')
                        let noContent = $('.no-content')
                        let firstColorBool= $('.list-group-item').first().attr('has-color')
                        $('.error').text('');
                        deeplinkBody.val("").focus()
                        let deeplink = data.msg.deeplink;
                        let setColor = '';
                        let nid = data.msg.nid
                        noContent.remove()
                        if (firstColorBool == 'false'){
                            setColor = '#eeeeee'
                        } else {
                            setColor = 'white'
                            colorBool = false
                        }
                        const deeplinkItem = `
                                <li class="list-group-item" id=${nid} has-color=${colorBool} style="background-color: ${setColor}">
                                    <a href=${deeplink}>${deeplink}</a>
                                    <div class="deeplink-modify pull-right">
                                        <button class="glyphicon glyphicon-edit"></button>
                                         <button class="glyphicon glyphicon-minus-sign"></button>
                                    </div>
                                </li>`
                         colorBool = !colorBool
                        if (listGroup.length == 0) {
                            const ulList = `
                                <ul class="list-group"></ul>
                            `
                            $('.no-content').css('display', 'none')
                            $('#main').append(ulList)
                        }
                        listGroup = $('.list-group')
                        listGroup.prepend(deeplinkItem)
                        $('.list-group li:first-child').on('click', '.glyphicon-minus-sign', removeItem)
                        hoverItem()
                    }

                }

            })

        })

         $(hoverItem)

         $('.glyphicon-minus-sign').click(removeItem)

         $('.no-content a').click(addFocus)

         $('.remove_project').click(function (){
             if (confirm('Are you sure want to delete {{ project.name }}?')){
                 $.ajax({
                     url: '{% url 'deeplink:remove_project' %}',
                     type: 'post',
                     data: {
                         csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
                         project: '{{ project.name }}'
                     },
                     success: function (data){
                         if (data.code){
                             location.href = '{% url 'deeplink:index' %}'
                         } else {
                             alert(data.msg)
                         }
                     }
                 })
             }
         })
    </script>
</body>
</html>