{% extends 'base.html' %}
{% block title %}
    {{ project.name }} Deeplink Page
{% endblock %}

{% block head %}
    <style>
        .btn-success {
            width: 70px;
        }
        .container-fluid {
            margin-top: 20px;
        }
        .page-header .glyphicon{
            border: none;
            width: 40px;
            font-size: 23px;
            background-color: white;
            outline: none;
            margin-right: 30px;
        }
        .page-header {
            display: flex;
            align-items: center;
            flex-direction: row;
        }
        h1 {
            margin: 0 auto;
        }
        .error_msg {
            margin-top: 10px;
        }
        tr {
            height: 50px;
        }
        .list-group-item {
            border-left: white;
            border-right: white;

        }
        .deeplink-modify button {
            background-color: transparent;
            border: none;
            font-size: 16px;
            outline: none;
        }
        .no-content {
            text-align: center;
            margin-top: 100px;
        }
        .modify-row {
            display: none;
        }
        .modify-row span{
            border: none;
            background-color: transparent;

        }
        .modify-row input{
            background-color: transparent;
        }
        .col-xs-12 {
            margin-bottom: 5px;
        }
        .a-deeplink {
            margin-left: 10px;
        }
        .page-header {
            font-weight: bold;
            font-style: italic;
            text-shadow: 2px 2px 2px lightgray;
        }
        li {
            word-break: break-all;
            overflow: hidden;
        }

    </style>
{% endblock %}

{% block main %}
     <div class="page-header">
        <h1>{{ project }}</h1>
        <button class="glyphicon glyphicon-cog edit-switch"></button>
        <button class="glyphicon glyphicon-trash remove_project"></button>
    </div>

    <div class="container">
        <!-- add deeplink workspace -->
        <div class="row add_workspace">
            {% csrf_token %}
            <div class="col-md-4 col-xs-12 col-md-offset-3">
                 <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">{{ project.scheme }}://</span>
                    <input id="deeplink_body" type="text" class="form-control" placeholder="deeplink content" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="col-md-2 col-xs-12">
                <button class="btn btn-success">Add</button>
            </div>
            <div class="col-md-5 col-xs-12 col-md-offset-3 error_msg">
                <span class="error"></span>
            </div>
        </div>
        <!-- edit project workspace -->
        <div class="row edit-project-workspace" style="display: none;">
            {% csrf_token %}
            <div class="col-md-4 col-xs-12 col-md-offset-3">
                 <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Scheme</span>
                    <input id="project_scheme" type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" value="{{ project.scheme }}">
                </div>
            </div>
            <div class="col-md-2 col-xs-12">
                <button class="btn btn-warning">Confirm</button>
            </div>
            <div class="col-md-5 col-xs-12 col-md-offset-3 error_msg">
                <span class="error"></span>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div id='main' class="col-md-12 col-xs-12">
                {% if full_deeplink %}
                    <ul class="list-group">
                    {% for deeplink in full_deeplink %}
                        {% if forloop.counter|divisibleby:2 %}
                            <li class="list-group-item" id={{ deeplink.nid }} has-color="true" style="background-color: #eeeeee;">
                        {% else %}
                            <li class="list-group-item" id={{ deeplink.nid }} has-color="false" style="background-color: white;">
                        {% endif %}
                        <div class="list-row row">
                            <div class="col-md-5 col-xs-9">
                                <a class="a-deeplink" href='{{ deeplink.deeplink }}'>{{ deeplink.deeplink }}</a>
                                <div class="input-group modify-row">
                                    <span class="input-group-addon" id="basic-addon{{ deeplink.nid }}">{{ project.scheme }}://</span>
                                    <input id="edit{{ deeplink.nid }}" class="form-control" aria-describedby="basic-addon{{ deeplink.nid }}" value="{{ deeplink.body }}">
                                </div>
                            </div>
                            <div class="pull-right">
                                <div class="deeplink-modify">
                                    <button class="glyphicon glyphicon-edit"></button>
                                    <button class="glyphicon glyphicon-minus-sign"></button>
                                </div>
                            </div>
                        </div>
                            </li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <h3 class="no-content">No content to display, Please <i><strong><a href="#">add</a></strong></i> in the input box above.</h3>
                {% endif %}
            </div>
        </div>
    </div>

    <script>

        function bindRemoveItem (){
             let listItem = $(this).parents('.list-group-item')
             $.ajax({
                 url: "{% url 'deeplink:remove_deeplink' %}",
                 type: 'post',
                 data: {
                     csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
                     nid: listItem.attr('id')
                 },
                 success: function (data){
                     if (data.code == 'fail') {
                         alert(data.msg)
                     } else {
                         listItem.remove()
                         let listGroup = $('.list-group-item')
                         if (listGroup.length == 0) {
                             const noContent = `
                             <h3 class="no-content">No content to display, Please <i><strong><a href="#">add</a></strong></i> in the input box above.</h3>
                             `
                             $('#main').append(noContent)
                             $('.no-content a').on('click', addFocus)
                         }
                     }

                 }

             })
         }

        function addFocus(){
             $('#deeplink_body').focus()
         }

        function hoverItem (){
            let litItem = $('.list-group-item');
            let orgColor = litItem.css('background-color');
            litItem.hover(function (){
                $(this).css('background-color', '#FBFCFC')
            }, function (){
                let color = $(this).attr('has-color')
                if (color == 'true'){
                    $(this).css('background-color', '#eeeeee')
                } else{
                    $(this).css('background-color', 'white')
                }
            })

        }

        function bindEditItem(){
             const listRow = $(this).parents('.list-row');
             const aDeeplink = listRow.find('.a-deeplink');
             const modifyRow = listRow.find('.modify-row');
             const inputBox = listRow.find('.form-control');
             aDeeplink.toggle();
             modifyRow.css('display', 'table');
             $(this).attr('class', 'glyphicon glyphicon-floppy-save');
             $(this).off();
             $(this).on('click', bindSaveItem);
             inputBox.focus();
             const text = inputBox.val();
             inputBox.val('');
             inputBox.val(text);
         }

        function bindSaveItem(){
            const listRow = $(this).parents('.list-row');
            const aDeeplink = listRow.find('.a-deeplink');
            const modifyRow = listRow.find('.modify-row');
            const inputBox = listRow.find('.form-control');
            const saveButton = $(this)
            $.ajax({
                url: "{% url 'deeplink:modify_deeplink' %}",
                type: "post",
                data: {
                    csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
                    deeplink_id: $(this).parents('.list-group-item').attr('id'),
                    deeplink_body: listRow.find('.form-control').val()
                },
                success: function(data){
                    if (data.code == 'fail'){
                        inputBox.focus()
                        alert(data.msg)
                    } else {
                        aDeeplink.text(data.msg)
                        aDeeplink.attr('href', data.msg)
                        modifyRow.toggle()
                        aDeeplink.toggle()
                        saveButton.attr('class', 'glyphicon glyphicon-edit')
                        saveButton.off()
                        saveButton.on('click', bindEditItem)
                    }
                }
             })

         }

        // bind click event for create deeplink button.
        $('.btn-success').click(function (){
            let deeplinkBody = $('#deeplink_body')
            let bodyContent = deeplinkBody.val()
            $.ajax({
                url: '',
                type: 'post',
                data: {
                    body: bodyContent,
                    csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
                },
                success: function (data){
                    if (data.code == 'fail') {
                        $('.error').text(data.msg.error).css({'color': 'red'})
                        deeplinkBody.focus()

                    } else {
                        let colorBool = true
                        let listGroup = $('.list-group')
                        let noContent = $('.no-content')
                        let firstColorBool= $('.list-group-item').first().attr('has-color')
                        $('.error').text('');
                        deeplinkBody.val("").focus()
                        let deeplink = data.msg.deeplink;
                        let setColor = '';
                        let nid = data.msg.nid
                        noContent.remove()
                        if (firstColorBool == 'false'){
                            setColor = '#eeeeee'
                        } else {
                            setColor = 'white'
                            colorBool = false
                        }
                        const deeplinkItem = `
                                <li class="list-group-item" id=${nid} has-color=${colorBool} style="background-color: ${setColor}">
                                    <div class="list-row row">
                                        <div class="col-md-5 col-xs-9">
                                            <a class="a-deeplink" href='${deeplink}'>${deeplink}</a>
                                            <div class="input-group modify-row" style="display: none;">
                                                 <span class="input-group-addon" id="basic-addon{{ deeplink.nid }}">{{ project.scheme }}://</span>
                                                 <input id="edit${nid}" class="form-control" aria-describedby="basic-addon${nid}" value="${bodyContent}">
                                            </div>
                                        </div>
                                        <div class="pull-right">
                                            <div class="deeplink-modify">
                                                <button class="glyphicon glyphicon-edit"></button>
                                                <button class="glyphicon glyphicon-minus-sign"></button>
                                            </div>
                                        </div>
                                    </div>
                                </li>`
                         colorBool = !colorBool
                        if (listGroup.length == 0) {
                            const ulList = `
                                <ul class="list-group"></ul>
                            `
                            $('.no-content').css('display', 'none')
                            $('#main').append(ulList)
                        }
                        listGroup = $('.list-group')
                        listGroup.prepend(deeplinkItem)
                        $('.list-group li:first-child').find('.glyphicon-minus-sign').on('click', bindRemoveItem)
                        $('.list-group li:first-child').find('.glyphicon-edit').on('click', bindEditItem)
                        hoverItem()
                    }

                }

            })

        })

        // bind click event for modify porjcet confirm button.
        $('.btn-warning').click(function(){
            const editInput = $('#project_scheme');
            if (confirm('Do you sure want to modify {{ project }} scheme?')){
                $.ajax({
                    url: "{% url 'deeplink:modify_project' %}",
                    type: "post",
                    data: {
                        csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
                        scheme: editInput.val(),
                        nid: "{{ project.nid }}",
                    },
                    success: function (data){
                        console.log(data)
                        if (data.code == 'fail') {
                            $('.error').text(data.msg).css('color', 'red');
                            editInput.focus();

                        } else {
                            location.reload();
                        }
                    }
                })
            }  else {
                editInput.focus();

            }
        })

        $(hoverItem)

        // bind remove item funtion for all remove deeplink button.
        $('.glyphicon-minus-sign').on('click', bindRemoveItem)

        $('.no-content a').click(addFocus)

        $('.remove_project').click(function (){
             if (confirm('Are you sure want to delete {{ project.name }}?')){
                 $.ajax({
                     url: "{% url 'deeplink:remove_project' %}",
                     type: 'post',
                     data: {
                         csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
                         project: '{{ project.name }}'
                     },
                     success: function (data){
                         if (data.code){
                             location.href = "{% url 'deeplink:index' %}"
                         } else {
                             alert(data.msg)
                         }
                     }
                 })
             }
         })

        // bind edit item function for all eidte deeplink button.
        $('.glyphicon-edit').on('click', bindEditItem)

        $('.edit-switch').click(function (){
            const buttonStyle = $(this).attr('class')
            if (buttonStyle == 'glyphicon glyphicon-cog edit-switch') {
                const editInput = $('#project_scheme')
                $(this).attr('class', 'glyphicon glyphicon-pencil edit-switch')
                $('.add_workspace').toggle()
                $('.edit-project-workspace').toggle()
                editInput.focus()
                const text = editInput.val()
                editInput.val('')
                editInput.val(text)

             } else {
                $(this).attr('class', 'glyphicon glyphicon-cog edit-switch')
                $('.add_workspace').toggle()
                $('.edit-project-workspace').toggle()
             }

         })

    </script>
{% endblock %}