<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ project }} Deeplink Page</title>
    <link rel="stylesheet" href="/static/bs/dist/css/bootstrap.css">
    <script src="/static/js/jquery-3.5.1.js"></script>
</head>
<body>
    <div class="page-header text-center">
        <h1>{{ project }} Deeplink Page</h1>
    </div>
    <ul>
        {% for content in contents %}
            <li>
                <h4>{{ content }}</h4>
            </li>
        {% endfor %}
    </ul>

</body>
</html>