{% extends 'base.html' %}
{% load static %}
{% load project_info_filter %}

{% block title %}
    {{ record.project|upper }} {{ record.project_version }} Detial Info
{% endblock %}

{% block head %}
     <style>
       .page-header {
            font-style: italic;
            margin-bottom: 0px;
            text-shadow: 2px 2px 2px lightgray;
            font-weight: bold;
            margin-top: 60px;
        }
        body table {
            margin: 0px;
            font-size: 2rem;
            line-height: 1.5;
            text-align: left;
            background-color: snow;
            width: 100%;
        }
        table td {
            padding: 8px;
            line-height: 18px;
            height: 18px;
            box-sizing: border-box;
            word-break: break-all;

        }

        table th {
            padding: 8px;
            line-height: 20px;
            height: 20px;
            background: #4682B4;
            color: #FFFFFF;
        }
    </style>
{% endblock %}

{% block main %}
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse"
                        data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img style="max-width:120px" class="logo" src="{% static 'imgs/qa_tools/homelogo.png' %}">
            </div>
            <div class="navbar-collapse collapse" role="navigation">
                <ul class="nav navbar-nav">
                    <li class="hidden-sm hidden-md"><a href="{% url 'qa_tools:index' %}">Home</a></li>
                    <li class="hidden-sm hidden-md"><a href="{% url 'project_info:index' %}">Platform</a></li>
                    <li class="hidden-sm hidden-md"><a href="{% url 'project_info:ios_project_list' %}">Project</a></li>
                    <li class="hidden-sm hidden-md"><a href="{% url 'project_info:ios_project_detail' record.project %}">Record</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="page-header">
            <div class="row">
                <div class="col-md-12 col-xs-12 text-center">
                    <h1 class="text-center">{{ record.project|upper }} {{ record.project_version }} Frameworks</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <table cellpadding="10">
      <tr>
      <thread>
          <th>frameworkName</th>
          <th>frameworkVersion</th>
    </thread>
      </tr>

    {%for library in library_list%}
      {% if library.frameworkVersion|ios_x_framework_check %}
      <tr style="background-color:#EE5C42; color: white" title="App should not use beta version Library when near submit">
          <td id="libraryName">{{ library.frameworkName }}</td>
          <td id="libraryVersion">{{ library.frameworkVersion }}</td>
      </tr>
      {% elif library.frameworkName|is_library_need_upgrade:library.frameworkVersion %}
      <tr style="background-color:#EE5C42; color: white" title="Tracking lib version need >= 4.4.8 or 5.0.4">
          <td id="libraryName">{{ library.frameworkName }}</td>
          <td id="libraryVersion">{{ library.frameworkVersion }}</td>
      </tr>
      {% else %}
      <tr>
          <td id="libraryName">{{ library.frameworkName }}</td>
          <td id="libraryVersion">{{ library.frameworkVersion }}</td>
      </tr>
      {% endif %}
    {%endfor%}
</table>
            </div>
        </div>
    </div>

{% endblock %}