{% extends 'base.html' %}
{% load static %}
{% block title %}
    SH Mobile QA Tool
{% endblock %}

{% block head %}
    <style>
        .thumbnail {
            height: 0px;
            padding-bottom: 100%;

        }

        .caption > h3 > a {
            text-decoration: none;
        }

        .footer {
            margin-right: 30px;
            margin-left: 30px;
            margin-top: 30px;
        }

        .page-header > h2 {
            font-weight: bold;
            font-style: italic;
            text-shadow: 2px 2px 2px lightgray;
        }
    </style>
{% endblock %}


{% block main %}
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse"
                        data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img style="max-width:120px" class="logo" src="{% static 'imgs/qa_tools/homelogo.png' %}">
            </div>
            <div class="navbar-collapse collapse" role="navigation">
                <ul class="nav navbar-nav">
                    <li class="hidden-sm hidden-md"><a href="{% url 'qa_tools:index' %}">Home</a></li>
                    <li><a href="http://jenkins.neulion.net.cn/">Jenkins Server</a></li>
                    <li><a href="https://pm.neulion.net.cn/">PM</a></li>
                    <li><a href="http://mobile.neulion.net.cn/tools/jsonenc/">Config encrypt tool</a></li>
                    <li><a href="http://mobile.neulion.net.cn/svn/">Config</a></li>
                    <li><a href="http://mobile.neulion.net.cn/book/">Git Book</a></li>
                    <li>
                        <a href="https://docs.google.com/spreadsheets/d/1SSEna6OzUV2kgMFR6-oc-PWbwga7I3YIJn8ImaXvQpM/edit#gid=0">Feature
                            list</a></li>
                    <li>
                        <a href="https://docs.google.com/spreadsheets/d/1J9jiYsxbVMfI2Q8s-L781PLTokfRzmXjpNudO74NZOE/edit#gid=0">Device
                            Inventory</a></li>
                </ul>
                <ul class="nav navbar-nav hidden-sm">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Other links
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="nav-link" href="https://gitlab.neulion.com.cn:645/">GIT Server</a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav">
                    <li>
                        <a class="glyphicon glyphicon-user" href="{% url 'admin:index' %}">&nbsp;Admin</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div class="container" style="margin-top:60px">
        <div class="projects-header page-header">
            <h2>Mobile QA Test Tools</h2>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="thumbnail">
                    <a href="http://172.16.1.100:5000/" target="_blank" title="APP Build History">
                        <img class="lazy" src="{% static '/imgs/qa_tools/infomation.png' %}" width="100"
                             height="100" alt="Build Info">
                    </a>
                    <div class="caption">
                        <h3>
                            <a href="http://172.16.1.100:5000/" target="_blank" title="APP Build History">APP Build
                                History<br><small>APP Build History</small></a>
                        </h3>
                        <p>Gather build info for Android and iOS.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="thumbnail">
                    <a href="{% url 'app_review:index' %}" target="_self" title="App reviews">
                        <img class="lazy" src="{% static '/imgs/qa_tools/star-icon.png' %}" width="100"
                             height="100" alt="Build Info">
                    </a>
                    <div class="caption">
                        <h3>
                            <a href="{% url 'app_review:index' %}" target="_self" title="App reviews">App Reviews
                                <br><small>App reviews</small></a>
                        </h3>
                        <p>Show reviews for each version and region from google play and app store.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="thumbnail">
                    <a href="{% url 'deeplink:index' %}" target="_self" title="Deep Link">
                        <img class="lazy" src="{% static '/imgs/qa_tools/link.png' %}" width="100"
                             height="100" alt="Build Info">
                    </a>
                    <div class="caption">
                        <h3>
                            <a href="{% url 'deeplink:index' %}" target="_self" title="Deep Link">Deep Link
                                Console<br><small>Deep link console</small></a>
                        </h3>
                        <p>Provide a list page to test mobile deeplink.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 ">
                <div class="thumbnail">
                    <a href="{% url 'qa_tools:braze_notification' %}" target="_self" title="Braze Notification">
                        <img class="lazy" src="{% static 'imgs/qa_tools/notification.png' %}" width="100"
                             height="100" alt="Braze Notification Console">
                    </a>
                    <div class="caption">
                        <h3>
                            <a href="{% url 'qa_tools:braze_notification' %}" target="_self"
                               title="Braze Notification Console">Braze Notification
                                <br><small>Braze notification console</small></a>
                        </h3>
                        <p>Batch send push through script.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 ">
                <div class="thumbnail">
                    <a href="#" target="_self" title="QoS Validation Tool">
                        <img class="lazy" src="{% static 'imgs/qa_tools/qos.png' %}" width="100" height="100"
                             alt="QoS Validation Tool">
                    </a>
                    <div class="caption">
                        <h3>
                            <a href="#" target="_self" title="Analyze QoS log">QoS Validation
                                Tool<br><small>QoS Validation Tool</small></a>
                        </h3>
                        <p>Analyze QoS log for Android iOS and Web.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 ">
                <div class="thumbnail">
                    <a href="{% url 'qa_tools:sdk_config' %}" target="_self" title="SDK Config Parser">
                        <img class="lazy" src="{% static 'imgs/qa_tools/appkey.png' %}" width="100"
                             height="100" alt="SDK Config Parser">
                    </a>
                    <div class="caption">
                        <h3>
                            <a href="{% url 'qa_tools:sdk_config' %}" target="_self" title="SDK Config Parser">SDK
                                Config
                                Parser<br><small>SDK Config Parser</small></a>
                        </h3>
                        <p>Store known app key and parse app key to get config detail.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 ">
                <div class="thumbnail">
                    <a href="#" target="_self" title="Automation Test Report">
                        <img class="lazy" src="{% static 'imgs/qa_tools/report.png' %}" width="100"
                             height="100" alt="SDK Config Parser">
                    </a>
                    <div class="caption">
                        <h3>
                            <a href="#" target="_self" title="Automation Test Report">Automation
                                Test Report<br><small>Automation Test Report</small></a>
                        </h3>
                        <p>Automation Test Report for UI and Unit Test.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 ">
                <div class="thumbnail">
                    <a href="#" target="_self" title="Localization test tool">
                        <img class="lazy" src="{% static 'imgs/qa_tools/localization.png' %}" width="100"
                             height="100" alt="Localization Tool">
                    </a>
                    <div class="caption">
                        <h3>
                            <a href="#" target="_self" title="Localization test tool">Localization
                                test tool<br><small>Localization test tool</small></a>
                        </h3>
                        <p>Format localization file to do tests.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 ">
                <div class="thumbnail">
                    <a href="#" target="_self" title="librarydiffer">
                        <img class="lazy" src="{% static 'imgs/qa_tools/librarydiffer.png' %}" width="100"
                             height="100" alt="Library Differ">
                    </a>
                    <div class="caption">
                        <h3>
                            <a href="#" target="_self" title="librarydiffer">Library Differ<br><small>Library
                                Differ</small></a>
                        </h3>
                        <p>Library Differ Check</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <hr>
                <div class="container text-center">
                    <p>&copy; ENDEAVOR Streaming.</p>
                </div>
            </div>
        </div>
    </footer>


    <script>
        $(".thumbnail").hover(function () {
            $(this).css("border", 'solid 1px blue')
        }, function () {
            $(this).css("border", 'solid 1px #ddd')
        })
    </script>
{% endblock %}














