{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ project_name }} Notification Detail
{% endblock %}

{% block head %}
    <style>
        .page-header {
            font-weight: bold;
            font-style: italic;
            text-shadow: 2px 2px 2px lightgray;
            margin-top: 80px;
        }
        button {
            background-color: transparent;
            border: none;
            outline: none;
        }
        .header-btn {
            outline: none;
        }
        .main {
            margin-top: 30px;
        }
        .account {
            margin-top: 20px;
        }
        .btn-group {
            margin-top: 10px;
        }
        .input-group {
            margin-top: 10px;
        }
        .error-info {
            margin-top: 10px;
        }
        .add-push-space .glyphicon {
            font-size: 18px;
            margin-right: 5px;
        }
        .add-push-space input {
            border: solid 1px lightgray;
            margin-left: 0px;
           
        }
        .error-add {
            display: inline-block;
            font-size: 60%;
        }
        .add-push-space {
            display: none;
        }
        * {
            word-break: break-all;
        }

    </style>
{% endblock %}

{% block main %}
    {% csrf_token %}

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse"
                        data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img style="max-width:120px" class="logo" src="{% static 'imgs/qa_tools/homelogo.png' %}">
            </div>
            <div class="navbar-collapse collapse" role="navigation">
                <ul class="nav navbar-nav">
                    <li class="hidden-sm hidden-md"><a href="{% url 'qa_tools:index' %}">Home</a></li>
                    <li class="hidden-sm hidden-md"><a href="{% url 'qa_tools:braze_notification' %}">Projects</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="page-header text-center">
            <h3 class="page-name">{{ project_name }} Notification Console</h3>
        </div>
    </div>

    <div class="container account">
        <div class="row">
            <div class="col-md-4 col-xs-12 col-md-offset-3">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Test Account</span>
                    <input id="test-account" type="text" class="form-control" placeholder="Test Account" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="btn-group">
                <button class="btn btn-success header-btn">Send Push</button>
                <button class="btn btn-default header-btn" id="select-switch">Select All</button>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 col-md-offset-3">
                <div class="error-info">
                    <span class="error-msg"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="container main">
        <div class="row">
            <div class="col-md-4 col-xs-12 deeplink">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        DEEPLINK
                    </div>
                    <div class="panel-body">
                        {% if response.deeplink %}
                            {% for item in response.deeplink %}
                                <div class="checkbox">
                            <label>
                                <input type="checkbox" value="{{ item.nid }}">
                                {{ item.content }}
                            </label>
                        </div>
                            {% endfor %}
                        {% else %}
                            <h5>No content at this time.</h5>
                        {% endif %}

                    </div>
                    <div class="panel-footer text-center">
                        <div class="add-push-space">
                            <input type="text" class="pull-left">
                            <span class="error-add"></span>
                            <button class="glyphicon glyphicon-remove-circle pull-right"></button>
                            <button class="glyphicon glyphicon-ok-circle pull-right"></button>
                        </div>
                        <button class="glyphicon glyphicon-plus" id="deeplink-add"></button>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-xs-12 deeplink">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        GENERAL
                    </div>
                    <div class="panel-body">
                        {% if response.general %}
                            {% for item in response.general %}
                                <div class="checkbox">
                            <label>
                                <input type="checkbox" value="{{ item.nid }}">
                                {{ item.content }}
                            </label>
                        </div>
                            {% endfor %}
                        {% else %}
                            <h5>No content at this time.</h5>
                        {% endif %}
                    </div>
                    <div class="panel-footer text-center">
                        <div class="add-push-space">
                            <input type="text" class="pull-left">
                            <span class="error-add"></span>
                            <button class="glyphicon glyphicon-remove-circle pull-right"></button>
                            <button class="glyphicon glyphicon-ok-circle pull-right"></button>
                        </div>
                        <button class="glyphicon glyphicon-plus" id="general-add"></button>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-xs-12 deeplink">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        PUSH_TYPE
                    </div>
                    <div class="panel-body">
                        {% if response.push_type %}
                            {% for item in response.push_type %}
                                <div class="checkbox">
                            <label>
                                <input type="checkbox" value="{{ item.nid }}">
                                {{ item.content }}
                            </label>
                        </div>
                            {% endfor %}
                        {% else %}
                            <h5>No content at this time.</h5>
                        {% endif %}
                    </div>
                    <div class="panel-footer text-center">
                        <div class="add-push-space">
                            <input type="text" class="pull-left">
                            <span class="error-add"></span>
                            <button class="glyphicon glyphicon-remove-circle pull-right"></button>
                            <button class="glyphicon glyphicon-ok-circle pull-right"></button>
                        </div>
                        <button class="glyphicon glyphicon-plus" id="push-type-add"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        function restALL() {
            $("input[type='checkbox']").prop("checked", false)
        }

        function selectAll() {
            $("input[type='checkbox']").prop("checked", true)
        }

        $("#select-switch").click(function(){
            const button= $("#select-switch");
            if (button.text() == 'Select All') {
                selectAll()
                button.text("Reset All");
            } else {
                restALL()
                button.text("Select All");
            }
        })

        $(".btn-success").click(function(){
            const testAccount = $("#test-account")
            const errorMsg = $(".error-msg")
            let selectItem = new Array()
            let checkBox
            const checkBoxs = $("input[type='checkBox']")
            errorMsg.text("")
            for (checkBox of checkBoxs){
                if ($(checkBox).prop("checked") == true){
                    selectItem.push($(checkBox).attr("Value"))
                }
            }
            $.ajax({
                url: "{% url 'qa_tools:send_braze_push' %}",
                type: "post",
                data: {
                    csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
                    test_account: testAccount.val(),
                    selected_items: selectItem,
                    project: "{{ project_name }}",
                },
                success: function(data){

                    if (data.code == 'fail') {
                   
                        errorMsg.text(data.msg).css("color", "red")
                        
                    } else {
                        let alterMsg = '';
                        let code;
                        let platform;
                        let deeplinkMsg;
                        for (const res of data.msg) {
                            console.log(res)
                            code = res[0];
                            platform = res[1];
                            deeplinkMsg = JSON.stringify(res[2]);
                            const message = `Status: ${code}, Platform: ${platform}, Type: ${deeplinkMsg} \n`
                            alterMsg += message
                        }
                        alert(alterMsg)
                    }
                }
            })
        })
        
        $(".glyphicon-plus").click(function(){
            const workSpace = $(this).prev()
            workSpace.css("display", "block")
            workSpace.children('input').focus()
            $(this).css("display", "none")
        })

        $(".glyphicon-remove-circle").click(function(){
            const workSpace = $(this).parent()
            workSpace.css("display", "none")
            workSpace.children("input").val("")
            workSpace.children("span").text("")
            workSpace.next().css("display", "inline")
        })

        $(".glyphicon-ok-circle").click(function(){
            const workSpace = $(this).parent()
            const inputContent = workSpace.children("input")
            const errorText = workSpace.children("span")
            let push_type = workSpace.next().attr("id")
            errorText.text("")
            if (push_type == 'deeplink-add') {
                push_type = "deeplink"
            } else if (push_type == "general-add") {
                push_type = "general"
            } else if (push_type == "push-type-add") {
                push_type = "push_type"
            }
            $.ajax({
                url: "{% url 'qa_tools:addPush' %}",
                type: "post",
                data: {
                    csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
                    push_type: push_type,
                    push_content: inputContent.val(),
                    project_name: "{{ project_name }}"
                    
                },
                success: function(data){
                    console.log(data)
                    if (data.code == 'fail') {
                        workSpace.children('span').text(data.msg).css("color", "red")
                        inputContent.focus()
                    } else {
                        const insetCheckBox = `
                            <div class="checkbox">
                            <label>
                                <input type="checkbox" value="${ data.id }">
                                ${ inputContent.val() }
                            </label>`
                        const panelBody = workSpace.parent().prev()
                        const noContent = panelBody.children("h5")
                        if (noContent.length != 0) {
                            noContent.css("display", "none")
                        }
                        panelBody.prepend(insetCheckBox)

                        workSpace.css("display", "none")
                        inputContent.val("")
                        workSpace.next().css("display", "inline")

                    }
                }
            })

        })
    </script>
{% endblock %}
